* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
:root {
  --white: #ffffff;
  --black: #000000;
}
/*шапка*/
.footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0.625em;
  background: url("../image/fonImage.svg") no-repeat center;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: cover; /* Современные браузеры */
  color: var(--white);
  height: 100%;
  position: relative;
  justify-content: center;
}
.footer > .footer__content {
  grid-column: 2 / span 5;
  grid-row: 1 / 7;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
.content__nav {
  grid-column: 2 / span 6;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 1.5em;
}
@media only screen and (max-width:  770px) {
  .content__nav {
    grid-gap: 0.5em;
  }
}
.content__Name {
  grid-column:  2 / 5;
  justify-content: center;
}
.link__nav {
  color: var(--white);
  text-align: center;
}
.items1 {
  grid-column: 1 / 2;
}
.items2 {
  grid-column: 2 / 3;
}
.items3 {
  grid-column: 3 / 4;
}
.items4 {
  grid-column: 4 / 5;
}
.items5 {
  grid-column: 5 / 6;
}
.items6 {
  grid-column: 6 / span 8;
}
.items7 {
  grid-column: 10 / span 11;
}
.items8 {
  grid-column: 11 / span 12;
}
.items9 {
  grid-column: 12 / span 13;
}