* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Graphik';

}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #2091F9;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
div, nav, header, footer, main  {
  border: 1px solid black;
}
/*родитель всех слайдов*/
.patern__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 
    minmax(1000px, 1fr)
    minmax(438px, 600px)
    minmax(272px, 472px)
    minmax(638px, 638px)
    minmax(932px, 932px)
    minmax(811px, 811px)
    minmax(1155px, 1fr)
    minmax(1006px, 1006px)
    minmax(567px, 567px);
  justify-content: center;

}
@media only screen and (max-width: 430px) {
  .patern__grid {
    grid-template-rows: 
    minmax(600px, 800px)
    minmax(600px, 1100px)
    minmax(400px, 600px)
    minmax(638px, 738px)
    minmax(932px, 1200px)
    minmax(811px, 811px)
    minmax(1155px, 1fr)
    minmax(1006px, 1fr)
    minmax(567px, 1fr);
  }
}
/*дети слайды*/
.header {
  grid-column: 1;
  grid-row: 1;
  background: url("../image/fonImage.svg") no-repeat center;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: cover; /* Современные браузеры */
  position: relative;
}
.features {
  grid-column: 1;
  grid-row: 2;
}
.hero {
  grid-column: 1;
  grid-row: 3;
}
.cta {
  grid-column: 1;
  grid-row: 4;
}
.partner {
  grid-column: 1;
  grid-row: 5;
}
.testimonials {
  grid-column: 1;
  grid-row: 6;
}
.pricing {
  grid-column: 1;
  grid-row: 7;
}
.contact {
  grid-column: 1;
  grid-row: 8;
}
.footer {
  grid-column: 1;
  grid-row: 9;
}
/*шапка*/
.header__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 
    minmax(236px, 1fr)
    minmax(188px, 1fr)
    minmax(80px, 1fr)
    minmax(92px, 1fr);
  grid-column-gap: 0px;
  place-items: start center;
  place-content: center center;
  max-width: 1210px;
  margin: 0 auto; 
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--white);
  font-family: Graphik;
}
@media only screen and (max-width: 780px)
{
  .header__content {
    grid-column-gap: 20px;

  }
}
@media only screen and (max-width: 430px)
{
  .header__content {
    grid-column-gap: 10px;
    grid-template-rows: 
      minmax(112px, 1fr)
      minmax(165px, 1fr)
      minmax(80px, 1fr)
      minmax(52px, 1fr);
  }
}
/*навигация*/
.nav {
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 1fr 0.1fr 0.1fr 0.1fr;
  grid-template-rows: 1fr;
  display: grid;
  place-items: center center;
  color: var(--white);
  font-size: 1em;
  margin-top: 4%; 
}
@media only screen and (max-width: 430px) {
  .nav {
    display: none;
  }
}
@media only screen and (max-width: 770px) {
	.nav {
  		grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.4fr 0.1fr 0.1fr 0.1fr;
  	}
  	.left {
  		font-size: 1.2em;
  	}
}
.desheader {
  grid-column: 1;
  grid-row: 2;
  max-width: 692px;
  font-weight: bold;
  font-size: 4.625em;
  line-height: 1.25em;
}
@media only screen and (max-width: 430px)
{
  .desheader {
    font-size: 2.625em;
  }
}
.desheader2 {
  grid-column: 1;
  grid-row: 3;
  max-width: 766px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1em;
  letter-spacing: 0.2px;
}
.buttom__header {
  grid-column: 1;
  grid-row: 4;
  max-width: 276px;
  height: 3em;
}
a.figma:hover {
  color:var(--white);
}
a {
  color: var(--white);
}
a:hover {
  color:var(--blue);
}
.figma {
  color: var(--white);
  font-style: bold;
  font-weight: bold;
  
}
.img__figma__nav{
  margin-right: 10%;
}
.item__nav_1 {
  grid-column: 1;

}
.item__nav_2 {
  grid-column: 2;
}
.item__nav_3 {
  grid-column: 3;
}
.item__nav_4 {
  grid-column: 4;
}
.item__nav_5 {
  grid-column: 5;
}
.item__nav_6 {
  grid-column: 6;
  font-size: 1.5em;
}
.item__nav_7 {
  grid-column: 7;
}
.item__nav_8 {
  grid-column: 8;
}
.item__nav_9 {
  grid-column: 9;
}
.rigth {
  text-align: right;
}
.left {
  text-align: left;
}

/*кнопка для всего сайта */
.button__figma {
  width: 100%;
  height: 100%;
  color: var(--white);
  font-size: 1.4em;
  letter-spacing: 0.2px;
  text-align: center;
  border-radius: 35px;
  background-color: var(--blue);
  transition: 0.3s;
}
.button__figma:hover {
  background-color: #0569c7;
}
@media only screen and (max-width: 430px) {
  .buttom__header {
    width: 65%;
  }
}
/*навигация для мобилок*/
.navMobil {
  display : none;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
  top: 0px;
  left: 0px;
}
@media only screen and (max-width: 430px) {
  .navMobil {
      display: flex;
    }
} 
.navMobil__text {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
.navMobil__img {
  cursor: pointer;
  height: 
}
/*стили для вспылывающего окна мобил*/
.overlay {
  height: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--white);
  opacity: 0.9;
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay__content {
  position: relative;
  top: 25%;
  text-align: center;
  margin-top: 15%;
}
.overlay a {
  padding: 8px;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition:0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay, .closebtn {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 2em; 
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px;}
}
/*слайд features*/
.features {
  display: grid;
  max-width: 1210px;
  margin: 0 auto;
  margin-top: 2.5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 
    minmax(182px, 200px)
    minmax(257px, 300px);
  place-items: start center;
  height: 100%;
}
.features__item1  {
  grid-column: 1 / -1;
  grid-row: 1;
}
.features__item2  {
  grid-column: 1;
  grid-row: 2;
}
.features__item3  {
  grid-column: 2;
  grid-row: 2;
}
.features__item4  {
  grid-column: 3;
  grid-row: 2;
}
@media only screen and (max-width: 430px) {
  .features {
    grid-template-columns: 1fr;
    grid-template-rows: 
    minmax(1fr, 1fr)
    minmax(1fr, 1fr)
    minmax(1fr, 1fr)
    minmax(1fr, 1fr);
  }
  .features__item1  {
    grid-column: 1 / -1;
    grid-row: 1;
}
.features__item2  {
    grid-column: 1;
    grid-row: 2;
}
.features__item3  {
    grid-column: 1;
    grid-row: 3;
}
.features__item4  {
    grid-column: 1;
    grid-row: 4;
}
}
/*figma текст*/
.figma__text__header, .hero__des__head, .testimonials__head {
  text-align: center;
  font-size: 2.5em;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: 0.2px;
  color: #252B42;
}
.figma__text__des, .hero__des__des, .testimonials__text {
  text-align: center;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #252B42;
}
/*colunm features*/
.features__item2__head {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}
.features__item2__des {
  padding-top: 10%;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}
.features__item2__img {
  margin: 0 auto;
  margin-bottom: 5%;
}
/*слайд hero*/
.hero {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 
    minmax(1fr, 1fr);
  max-width: 1243.3px;
  margin: 0 auto;
  place-items: center center;
  transition: 0.5s; 
}
.hero__img {
    grid-row: 1;
    grid-column: 2;
}
.hero__des {
    grid-row: 1;
    grid-column: 1;
    margin: 0 auto;
    max-width: 320px; 
    text-align: center;
}
.hero__des__head, .hero__des__des {
  text-align: left;
  margin-bottom: 5%;
}
.hero__des__btn{
  margin-bottom: 5%;
  height: 60px;
}
.hero__img {
  margin-left: auto;
}
.hero:hover {
  transform: scaleX(0.99);
  transform: scaleY(0.99);
  box-shadow:  0px 0px 20px 0 rgba(0, 0, 0, 0.5); 0px 0px 20px 0 #ffffff;
  border-radius: 1%;
  border: 1px solid #a3a3c2;
}
@media only screen and (max-width: 430px){ 
  .hero {
      grid-template-columns:  1fr;
      grid-template-rows: 
        minmax(225px, 300px)
        minmax(225px, 300px);
      place-items: center end;
  }
    .hero__img,.hero__des {
      margin-top: 6%;
    }
    .hero__des__head{
      width: 100%;
      margin-top: 4%;
    }
    .hero__des__btn {
      width: 50%;
      margin: 4% auto;
    }
    .hero__des__des {
      margin-top: 4%;
    }
    .hero__des {
    grid-row: 2;
    grid-column: 1;
    margin: 0 auto;
    max-width: 320px; 
    text-align: center;
}
.hero__img {
    margin-left: 0px;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
}
}
/*слайд ста*/
.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  max-width: 1210px;
  margin: 0 auto;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
@media only screen and (max-width: 430px) {
	.cta {
		grid-template-columns: 1fr;
		place-items:center center;
	}
	.cta__column1,.cta__column2 {
		display: none;
	}
	.mobil {
		display: block;
		grid-column: 1;
		margin: 3% auto;
		text-align: center;

	}
}
.contact__input_c {
	height: 100%;
	background: #F5F5F5;
  	border: 1px solid #E8E8E8;
  	border-radius: 39px;
  	font-size: 1.3em;
}
@media only screen and (min-width: 431px) {
	.mobil {
		display: none;
	}
}
.cta:hover {
  transform: scaleX(0.99);
  transform: scaleY(0.99);
  box-shadow:  0px 0px 20px 0 rgba(0, 0, 0, 0.5); 0px 0px 20px 0 #ffffff;
  border-radius: 1%;
  border: 1px solid #a3a3c2;
}
.cta__column1 {
  grid-column: 2;
  max-width: 440px;
  margin: 0 auto;
}
.cta__column2 {
  grid-column: 1;
}
.column1__item1  {
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  margin-bottom: 5%;
}
.column1__item2  {
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  margin-bottom: 5%;
}
.column1__item3  {
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}
.column1__item4  {
font-size: 1em;
font-style: normal;
font-weight: 400;
line-height: 1em;
letter-spacing: 0.20000000298023224px;
text-align: left;
margin-bottom: 6%;
}
.column1__item5 {
  height: 60px;
}
.cta__btn {
  display: inline-block;
  margin: 1%;
}
/*слайд партнеры*/
.partner{
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1210px;
  margin: 0 auto; 
  place-items: center center;
}
.company {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px, 70px;
  height: auto;
}
.item__company_1 {
  grid-column: 1;
  grid-row: 1;
}
.item__company_2 {
  grid-column: 2;
  grid-row: 1;
}
.item__company_3 {
  grid-column: 3;
  grid-row: 1;
}
.item__company_4 {
  grid-column: 4;
  grid-row: 1;
}
.item__company_5 {
  grid-column: 1;
  grid-row: 2;
}
.item__company_6 {
  grid-column: 2;
  grid-row: 2;
}
.item__company_7 {
  grid-column: 3;
  grid-row: 2;
}
.item__company_8 {
  grid-column: 4;
  grid-row: 2;
}
.grs {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.7s;
  cursor: pointer;
}
.grs:hover {
  filter: grayscale(0%);
}
.btn__partners,.btn__testimonials {
  height: 60px;
}
@media only screen and (max-width: 430px){
	.company {
  		grid-template-columns: 1fr;
  		grid-template-rows: 1fr 1fr 1fr;
  	}
  	.item__company_4,.item__company_5,.item__company_6,.item__company_7,.item__company_8{
  		display: none;
  	}
  	.item__company_1{
  		 width: 70%;
 		 margin: 5% auto;
  	}
  	.item__company_2 {
  		grid-column: 1;
 		 grid-row: 2;
 		 width: 70%;
 		 margin: 5% auto;		
  	}
  	.item__company_3 {
		grid-column:1;
  		grid-row: 3;
  		width: 70%;
  		margin: 5% auto;
		}
}
/*слайд testimals*/
.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1210px;
  margin: 0 auto;
  place-items:center center;
}
.testimonials__text_s {
  font-size: 1.7em;
  text-align: center;
}
.testimonials__g {
  display: grid;
  grid-template-columns: 50px 150px;
  grid-template-rows: 10px 10px;
  place-items:center center;
  grid-gap: 20px;
}
.testimonials__img {
  display: block;
  grid-column: 1;
  grid-row: 1 / -1;
}
.testimonials__p{
  display: block;
  text-align: left;
  grid-column: 2;
  grid-row: 1;
}
.testimonials__p2 {
  grid-column: 2;
  grid-row: 2;
}
@media only screen and (max-width: 770px) {
	.btn__testimonials,.btn__partners,.buttom__header {
		width: 40%;
	}
}
/*слайд pricing*/
.pricing_c {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 700px;
  max-width: 1210px;
  margin: 0 auto;
  place-items:center center;
  grid-column-gap: 50px;
  font-family: Graphik;

}
.pricing_f {
  background-color: #737373;
  color: var(--white);
}
.pricing_p {
  grid-column: 2;
  grid-row: 1;
}
.Pricing__cardOne, .Pricing__cardTWo, .Pricing__cardThree {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--white);
  color: var(--black);
  display: grid;
  grid-template-columns:1fr;
  place-items:center center;
  max-width: 335px;
  height: 607px;
  margin: 0 auto;
  font-size: 1em;
  font-style: normal;
  border-radius: 2%;
  cursor: pointer;
  text-align: center;
  transition:0.5s;

}
.Pricing__cardOne:hover {
  transform:translateY(4px);
  box-shadow:  0px 0px 20px 0 rgba(0, 0, 0, 0.6);
  border: 1px solid #a3a3c2;
}
.Pricing__cardTWo:hover {
  transform:translateY(-4px);
  box-shadow:  0px 0px 20px 0 rgba(0, 0, 0, 0.6);
  border: 1px solid #a3a3c2;
}
.Pricing__cardThree:hover {
  transform:translateY(4px);
  box-shadow:  0px 0px 20px 0 rgba(0, 0, 0, 0.6);
  border: 1px solid #a3a3c2;

}
.card__header {
  font-size: 1.25em;
  font-style: normal;
  font-weight: bold;
}
.pricing__card__cost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 28px 23px;
  max-width: 153px;
}
.cost__value_d {
  grid-column: 2;
  grid-row: 1;
  font-weight: bold;
  text-align: left;
}
.cost__value_n {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
}
.cost__value{
  grid-column: 1;
  grid-row: 1 /-1;
  font-size: 3.625em;
  font-weight: bold;
  text-align: right;
  padding-right:  3%;
}
.Pricing__cardTWo {
  grid-column: 2;
  grid-row: 2;
  height: 693px;
  background-color: var(--blue);
  color: var(--white);
}
.Pricing__cardThree {
  grid-column: 3;
  grid-row: 2;
}
.button__figma_bc {
  background-color: var(--white);
  color: var(--black);
}
.button__figma_bc:hover {
  background-color: #d9d9d9;
}
.card_btn {
  height: 60px;
}
@media only screen and (max-width: 430px) {
	.pricing_c {
		grid-template-columns: 1fr;
		grid-template-rows: 200px 1fr 1fr 1fr;
		grid-column-gap: 0px;
	}
	.pricing_p {
  		grid-column: 1;
  		grid-row: 1;
	}
	.Pricing__cardOne {
		grid-column: 1;
  		grid-row: 2;
  		max-width: 300px;
  		margin: 0 auto;
  		margin-top: 5%;
	}
	.Pricing__cardTWo {
		grid-column: 1;
  		grid-row: 3;
  		height: 607px;
  		max-width: 300px;
  		margin: 0 auto;
  		margin-top: 5%;

	}
	.Pricing__cardThree {
		grid-column: 1;
  		grid-row: 4;
  		max-width: 300px;
  		margin: 5% auto;
	}
}
/*слайд контакты*/
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center center;
  max-width: 1210px;
  margin: 0 auto;
  grid-column-gap: 50px;
}
.contact__header {
  grid-column: 1 / -1;
  grid-row: 1;
}
.contact__form {
  grid-column: 1;
  grid-row: 2;
}
.contact__map {
  grid-column: 2 / -1;
  grid-row: 2;
}
.form{
  display: grid;
  place-items: center center;
  border-radius: 5%;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  transition: 0.5s;
}
.form:hover {
  transform: scaleX(0.99);
  transform: scaleY(0.99);
  box-shadow:  0px 0px 20px 0 rgba(0, 0, 0, 0.5); 0px 0px 20px 0 #ffffff;
  border-radius: 1%;
  border: 1px solid #a3a3c2;
}
.Contact__Us {
  text-align: center;
  margin: 20px;
  color:black;
  font-size: 1.3em;
  font-weight: bold;
}
.contact__input {
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  color: var(--black);
  display: block;
  margin: 30px;
  height: 30px;
  font-size: 1.3em;
}
.contact__input_t{
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  color: var(--black);
  display: block;
  margin: 30px;
  font-size: 1.3em;
}
.contact__input:befor {
  content: "";
}
.contact__map{
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center center;
  margin-bottom: 5%;
}
.icon {
  display: grid;
  place-items:center center;
  text-align: center;

}
.icon__1 {
  grid-column: 1;
  grid-row: 1;
}
.icon__2 {
  grid-column: 2;
  grid-row: 1;
}
.icon__3 {
  grid-column: 3;
  grid-row: 1;
}
.map {
  grid-column: 1 / 4;
  grid-row: 2;
}
.btn_form {
	margin: 0 auto;
}
@media only screen and (max-width: 430px) {
  .contact {
    grid-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .contact__header {
	  grid-column: 1;
	  grid-row: 1;
}
.contact__form {
  grid-column: 1;
  grid-row: 3;
  min-width: 300px;
  margin: 0 auto;
}
.contact__map {
  grid-column: 1;
  grid-row: 2;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.icon__1 {
  grid-column: 1;
  grid-row: 1;
  display: inline-block;
}
.icon__2 {
  grid-column: 1;
  grid-row: 2;
  display: inline-block;
}
.icon__3 {
  grid-column: 1;
  grid-row: 3;
  display: inline-block;
}
.map {
  display: none;
}
.contact__input_t{
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  color: var(--black);
  display: block;
  margin: 5% auto;
  font-size: 1.3em;
  max-width: 280px;
}
.txt {
	display: inline-block;
	max-width: 50%;
}
}
/*слайд подвал*/
.footer {
  display: grid;
  grid-template-columns:  1fr;
  place-items: center center;
  background-color: #252B42; 
  color: var(--white);
}
.content__footer {
  grid-column: 1 / -1;
  max-width: 1210px;
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 
        minmax(1fr, 1fr)
       minmax(07px, 0px)
       minmax(0px, 00px);
  place-items: center center;
  font-size: 1.2em;
  height: 100%;
}
.footer__list_1 {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr ;
  place-items: center center;
  text-align: center;
  margin: 5%;
}
.footer__list_2 {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr ;
  place-items: center center;
  text-align: center;
  margin: 5%;
}
.footer__list_3 {
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr ;
  place-items: center center;
  text-align: center;
  margin: 5%;
}
.link__footer {
  text-align: center;
  display: block;
  margin: 5%;

}
.head__list {
  font-weight:bold;
  margin: 5%;
  font-style: 1.5em;
  font-family: Andale Mono, monospace;
}
.footer__list_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center center;
  margin: 5%;
}
.item_1 {
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 5%;
}
.item_2 {
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 5%;
}
.item_3 {
  grid-column: 1;
  grid-row: 3;
  margin: 5%;
}
.item_4 {
  grid-column: 2;
  grid-row: 3;
  margin: 5%;
}
.item_5 {
  grid-column: 3;
  grid-row: 3;
  margin: 5%;
}
.mag {
  margin: 5%;

}
.head__list_ml {
  margin-left: 13%;
}
@media only screen and (max-width: 430px) {
  .content__footer {
    grid-template-columns: 1fr;
    grid-template-rows: 
       minmax(267px, 300px)
       minmax(267px, 300px)
       minmax(267px, 300px);
    margin: 0%;
}
  .footer__list_1 {
    grid-column: 1;
    grid-row: 1;
    margin: 0%;
  }
  .footer__list_2 {
    grid-column: 1;
    grid-row: 2;
    margin: 0%;
  }
  .footer__list_3 {
    grid-column: 1;
    grid-row: 3;
    margin: 0%;
  }
   .footer__list_4 {
    grid-column: 1;
    grid-row: 4;
    margin: 0%;
  }
  .head__list {
  	margin: 0%;
  }
}




/*svg sprite facebook twitter*/
.facebook, .twitter, .in {
	fill: #ffffff;
  width: 31px;
  height: 31px;
}
.facebook:hover {
	fill: #2091F9;
}
.twitter:hover {
	fill: #2091F9;
}
.in:hover {
	fill: #2091F9;
}
/* блок для переноса на вер*/
.arrow___link {
position: fixed;
z-index: 1;
border-radius: 50%;
height: 70px;
width: 70px;
background-color: var(--blue);
right: 30px;
bottom: 50px;
text-align: center;
display: none;
}
.arrow___link_g{
  display: grid;
  place-items: center center;
  height: 100%;
}
@media only screen and (max-width: 430px){
  .arrow___link{
    height: 50px;
    width: 50px;
  }
}
